# git ignore file
*.o
*.o
FYP_Hexabot_ATSAM_S70/FYP_Hexabot_ATSAM_S70/Debug/FYP_Hexabot_ATSAM_S70.srec
*.bin
FYP_Hexabot_ATSAM_S70/FYP_Hexabot_ATSAM_S70/Debug/FYP_Hexabot_ATSAM_S70.elf
*.lss
FYP_Hexabot_ATSAM_S70/FYP_Hexabot_ATSAM_S70/Debug/FYP_Hexabot_ATSAM_S70.map
*.srec